<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Thank you </title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/static/style.css">
    </head>
    <body>
     <div class ='container'>
        <img class ='article-image' src='/static//logo.jpg'>
        <h1>Thank you for registering you child at Dalpark Learning academy</h1>
        <h2>Any changes or required information will be notified via email<h2>
        <h3>Thank You!!!!</h3>
        <script src="" async defer></script>
    </body>
</html>